# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# Debug files
scraping_debug.html

# IDE and editor directories
.idea/
.vscode/

# Git directory
.git/ 