*.json

*.env
*.env.local
*.env.development
*.env.production
*.env.test
*.env.test.local

__pycache__
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
.vscode/
.idea/
.pytest_cache/

dist/
build/
.DS_Store

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

